[submodule "etcd-raft/artifact/raft"]
	path = etcd-raft/artifact/raft
	url = https://github.com/specula-org/raft.git
[submodule "hashicorp-raft/artifact/raft"]
	path = hashicorp-raft/artifact/raft
	url = https://github.com/specula-org/hashicorp-raft.git
[submodule "swiftpaxos/artifact/swiftpaxos"]
	path = swiftpaxos/artifact/swiftpaxos
	url = https://github.com/imdea-software/swiftpaxos
[submodule "besu-qbft/artifact/besu"]
	path = besu-qbft/artifact/besu
	url = https://github.com/specula-org/besu.git
[submodule "substrate/artifact/substrate"]
	path = substrate/artifact/substrate
	url = https://github.com/specula-org/substrate.git
[submodule "aptosbft/artifact/aptos-core"]
	path = aptosbft/artifact/aptos-core
	url = https://github.com/specula-org/aptos-core.git
	branch = instrument/trace-harness
[submodule "cometbft/artifact/cometbft"]
	path = cometbft/artifact/cometbft
	url = https://github.com/specula-org/cometbft.git
	branch = instrument/trace-harness
[submodule "braft/artifact/braft"]
	path = braft/artifact/braft
	url = https://github.com/specula-org/braft.git
	branch = fix/snapshot-reader-leak
[submodule "dragonboat/artifact/dragonboat"]
	path = dragonboat/artifact/dragonboat
	url = https://github.com/specula-org/dragonboat.git
	branch = fix/silent-error-in-save-snapshot
[submodule "sofa-jraft/artifact/sofa-jraft"]
	path = sofa-jraft/artifact/sofa-jraft
	url = https://github.com/specula-org/sofa-jraft.git
	branch = test/vote-persistence-bug
[submodule "braft/artifact/brpc"]
	path = braft/artifact/brpc
	url = https://github.com/apache/brpc.git
[submodule "autobahn/artifact/autobahn-artifact"]
	path = autobahn/artifact/autobahn-artifact
	url = https://github.com/specula-org/autobahn-artifact.git
	branch = autobahn
[submodule "crossbeam-epoch/artifact/crossbeam"]
	path = crossbeam-epoch/artifact/crossbeam
	url = https://github.com/crossbeam-rs/crossbeam.git
[submodule "dpdk-ring/artifact/dpdk"]
	path = dpdk-ring/artifact/dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "libomp/artifact/llvm-project"]
	path = libomp/artifact/llvm-project
	url = https://github.com/llvm/llvm-project.git
