[submodule "etcd-raft/artifact/raft"]
	path = etcd-raft/artifact/raft
	url = https://github.com/specula-org/raft.git
[submodule "hashicorp-raft/artifact/raft"]
	path = hashicorp-raft/artifact/raft
	url = https://github.com/specula-org/hashicorp-raft.git
[submodule "swiftpaxos/artifact/swiftpaxos"]
	path = swiftpaxos/artifact/swiftpaxos
	url = https://github.com/imdea-software/swiftpaxos
[submodule "besu-qbft/artifact/besu"]
	path = besu-qbft/artifact/besu
	url = https://github.com/specula-org/besu.git
[submodule "substrate/artifact/substrate"]
	path = substrate/artifact/substrate
	url = https://github.com/specula-org/substrate.git
[submodule "aptosbft/artifact/aptos-core"]
	path = aptosbft/artifact/aptos-core
	url = https://github.com/specula-org/aptos-core.git
	branch = instrument/trace-harness
[submodule "cometbft/artifact/cometbft"]
	path = cometbft/artifact/cometbft
	url = https://github.com/specula-org/cometbft.git
	branch = instrument/trace-harness
[submodule "braft/artifact/braft"]
	path = braft/artifact/braft
	url = https://github.com/specula-org/braft.git
	branch = fix/snapshot-reader-leak
[submodule "dragonboat/artifact/dragonboat"]
	path = dragonboat/artifact/dragonboat
	url = https://github.com/specula-org/dragonboat.git
	branch = fix/silent-error-in-save-snapshot
[submodule "sofa-jraft/artifact/sofa-jraft"]
	path = sofa-jraft/artifact/sofa-jraft
	url = https://github.com/specula-org/sofa-jraft.git
	branch = test/vote-persistence-bug
[submodule "braft/artifact/brpc"]
	path = braft/artifact/brpc
	url = https://github.com/apache/brpc.git
[submodule "autobahn/artifact/autobahn-artifact"]
	path = autobahn/artifact/autobahn-artifact
	url = https://github.com/specula-org/autobahn-artifact.git
	branch = autobahn
[submodule "crossbeam-epoch/artifact/crossbeam"]
	path = crossbeam-epoch/artifact/crossbeam
	url = https://github.com/crossbeam-rs/crossbeam.git
[submodule "dpdk-ring/artifact/dpdk"]
	path = dpdk-ring/artifact/dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "libomp/artifact/llvm-project"]
	path = libomp/artifact/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "arc-swap/artifact/arc-swap"]
	path = arc-swap/artifact/arc-swap
	url = https://github.com/specula-org/arc-swap.git
	branch = fix-fallback-ordering-gap
[submodule "raft-java/artifact/raft-java"]
	path = raft-java/artifact/raft-java
	url = https://github.com/wenweihu86/raft-java
[submodule "eliben-raft/artifact/raft"]
	path = eliben-raft/artifact/raft
	url = https://github.com/eliben/raft
[submodule "nuraft/artifact/nuraft"]
	path = nuraft/artifact/nuraft
	url = https://github.com/ebay/nuraft
[submodule "aeron/artifact/aeron"]
	path = aeron/artifact/aeron
	url = https://github.com/real-logic/aeron
[submodule "tarantool/artifact/tarantool"]
	path = tarantool/artifact/tarantool
	url = https://github.com/tarantool/tarantool
[submodule "tikv/artifact/raft-rs"]
	path = tikv/artifact/raft-rs
	url = https://github.com/tikv/raft-rs
[submodule "hazelcast/artifact/hazelcast"]
	path = hazelcast/artifact/hazelcast
	url = https://github.com/hazelcast/hazelcast
[submodule "goraft/artifact/raft"]
	path = goraft/artifact/raft
	url = https://github.com/goraft/raft
[submodule "willemt-raft/artifact/raft"]
	path = willemt-raft/artifact/raft
	url = https://github.com/willemt/raft
[submodule "async-raft/artifact/async-raft"]
	path = async-raft/artifact/async-raft
	url = https://github.com/async-raft/async-raft
[submodule "redisraft/artifact/redisraft"]
	path = redisraft/artifact/redisraft
	url = https://github.com/RedisLabs/redisraft
[submodule "logcabin/artifact/logcabin"]
	path = logcabin/artifact/logcabin
	url = https://github.com/logcabin/logcabin
[submodule "ra/artifact/ra"]
	path = ra/artifact/ra
	url = https://github.com/rabbitmq/ra
[submodule "ratis/artifact/ratis"]
	path = ratis/artifact/ratis
	url = https://github.com/apache/ratis
[submodule "openraft/artifact/openraft"]
	path = openraft/artifact/openraft
	url = https://github.com/datafuselabs/openraft
[submodule "nebula/artifact/nebula"]
	path = nebula/artifact/nebula
	url = https://github.com/vesoft-inc/nebula
[submodule "rethinkdb/artifact/rethinkdb"]
	path = rethinkdb/artifact/rethinkdb
	url = https://github.com/rethinkdb/rethinkdb
[submodule "kudu/artifact/incubator-kudu"]
	path = kudu/artifact/incubator-kudu
	url = https://github.com/apache/incubator-kudu
[submodule "tikv/artifact/tikv"]
	path = tikv/artifact/tikv
	url = https://github.com/pingcap/tikv
[submodule "dotnext-raft/artifact/dotNext"]
	path = dotnext-raft/artifact/dotNext
	url = https://github.com/dotnet/dotNext
[submodule "scc/artifact/scc"]
	path = scc/artifact/scc
	url = https://github.com/wvwwvwwv/scalable-concurrent-containers.git
[submodule "scylla/artifact/scylla"]
	path = scylla/artifact/scylla
	url = https://github.com/scylladb/scylla
[submodule "spdm/artifact/spdm"]
	path = spdm/artifact/spdm
	url = https://github.com/specula-org/spdm-rs
	branch = add-instrumentation
[submodule "crossbeam-deque/artifact/crossbeam"]
	path = crossbeam-deque/artifact/crossbeam
	url = https://github.com/crossbeam-rs/crossbeam.git
[submodule "crossbeam-skiplist/artifact/crossbeam"]
	path = crossbeam-skiplist/artifact/crossbeam
	url = https://github.com/crossbeam-rs/crossbeam.git
[submodule "flurry/artifact/flurry"]
	path = flurry/artifact/flurry
	url = https://github.com/jonhoo/flurry.git
[submodule "kanal/artifact/kanal"]
	path = kanal/artifact/kanal
	url = https://github.com/fereidani/kanal.git
[submodule "left-right/artifact/left-right"]
	path = left-right/artifact/left-right
	url = https://github.com/jonhoo/left-right.git
[submodule "papaya/artifact/papaya"]
	path = papaya/artifact/papaya
	url = https://github.com/specula-org/papaya.git
	branch = instrument/trace-harness
[submodule "tokio-broadcast/artifact/tokio"]
	path = tokio-broadcast/artifact/tokio
	url = https://github.com/tokio-rs/tokio.git
[submodule "sonic-dash-ha/artifact/sonic-dash-ha"]
	path = sonic-dash-ha/artifact/sonic-dash-ha
	url = https://github.com/sonic-net/sonic-dash-ha.git
[submodule "sonic-linkmgrd/artifact/sonic-linkmgrd"]
	path = sonic-linkmgrd/artifact/sonic-linkmgrd
	url = https://github.com/sonic-net/sonic-linkmgrd.git
[submodule "mongodb/artifact/initial-sync-tla"]
	path = mongodb/artifact/initial-sync-tla
	url = https://github.com/will62794/initial-sync-tla.git
[submodule "mongodb/artifact/logless-reconfig"]
	path = mongodb/artifact/logless-reconfig
	url = https://github.com/will62794/logless-reconfig.git
[submodule "mongodb/artifact/mongo-locking-tla"]
	path = mongodb/artifact/mongo-locking-tla
	url = https://github.com/visualzhou/mongo-locking-tla.git
[submodule "mongodb/artifact/mongo-repl-reconfig"]
	path = mongodb/artifact/mongo-repl-reconfig
	url = https://github.com/will62794/mongo-repl-reconfig.git
[submodule "mongodb/artifact/mongo-repl-tla"]
	path = mongodb/artifact/mongo-repl-tla
	url = https://github.com/will62794/mongo-repl-tla.git
[submodule "mongodb/artifact/mongo-repl-tla-models"]
	path = mongodb/artifact/mongo-repl-tla-models
	url = https://github.com/will62794/mongo-repl-tla-models.git
[submodule "mongodb/artifact/mongo-src"]
	path = mongodb/artifact/mongo-src
	url = https://github.com/mongodb/mongo.git
[submodule "mongodb/artifact/RaftLeaderLeases"]
	path = mongodb/artifact/RaftLeaderLeases
	url = https://github.com/specula-org/RaftLeaderLeases.git
[submodule "mongodb/artifact/visualzhou-mongo-repl-tla"]
	path = mongodb/artifact/visualzhou-mongo-repl-tla
	url = https://github.com/visualzhou/mongo-repl-tla.git
[submodule "mongodb/artifact/vldb25-dist-txns"]
	path = mongodb/artifact/vldb25-dist-txns
	url = https://github.com/mongodb-labs/vldb25-dist-txns.git
[submodule "mongodb/mongo-src"]
	path = mongodb/mongo-src
	url = https://github.com/mongodb/mongo.git
[submodule "aptosbft_2/artifact/aptos-core"]
	path = aptosbft_2/artifact/aptos-core
	url = https://github.com/aptos-labs/aptos-core
	shallow = true
[submodule "scc_2/artifact/scalable-concurrent-containers"]
	path = scc_2/artifact/scalable-concurrent-containers
	url = https://github.com/wvwwvwwv/scalable-concurrent-containers
	shallow = true
