[submodule "etcd-raft/artifact/raft"]
	path = etcd-raft/artifact/raft
	url = https://github.com/specula-org/raft.git
[submodule "hashicorp-raft/artifact/raft"]
	path = hashicorp-raft/artifact/raft
	url = https://github.com/specula-org/hashicorp-raft.git
[submodule "swiftpaxos/artifact/swiftpaxos"]
	path = swiftpaxos/artifact/swiftpaxos
	url = https://github.com/imdea-software/swiftpaxos
